#score {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}

#start_button {

    width: 100px; 
    height: 40px;
    background-color: rgb(80, 113, 151);
    border: 2px solid rgb(80, 113, 151);
    border-radius: 50px;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 5px;
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 20px;

}

#win {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px; 
    margin-top: 300px;
    margin-left: 500px;
    color: rgb(80, 113, 151);
}